<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Minimal by Steve Smith</title>

        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/pygment_trac.css">
        <meta name="viewport" content="width=device-width">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.github.project_title }}</h1>
        <p>{{ site.github.project_tagline }}</p>
        <p class="view"><a href="{{ site.github.owner_url }}{{ site.github.baseurl }}">View the Project on GitHub <small>{{ site.github.owner_name }}/{{ site.github.project_title }}</small></a></p>
        <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="https://github.com/orderedlist/minimal/tarball/master">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.clone_url }}">Fork On <strong>GitHub</strong></a></li>
        </ul>
        </header>
        <section>
            {{ content }}
        </section>
        <footer>
            <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    </body>
</html>
